/*
Kalshi API.

This documentation describes Kalshi's REST API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kalshiAPI

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


type RangedMarketApi interface {

	/*
	GetRangedMarket GetRangedMarket

	End-point for getting data about a ranged market

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param rangedMarketId Should be filled in with a ranged market id
	@return ApiGetRangedMarketRequest
	*/
	GetRangedMarket(ctx context.Context, rangedMarketId string) ApiGetRangedMarketRequest

	// GetRangedMarketExecute executes the request
	//  @return GetRangedMarketResponse
	GetRangedMarketExecute(r ApiGetRangedMarketRequest) (*GetRangedMarketResponse, *http.Response, error)
}

// RangedMarketApiService RangedMarketApi service
type RangedMarketApiService service

type ApiGetRangedMarketRequest struct {
	ctx context.Context
	ApiService RangedMarketApi
	rangedMarketId string
}

func (r ApiGetRangedMarketRequest) Execute() (*GetRangedMarketResponse, *http.Response, error) {
	return r.ApiService.GetRangedMarketExecute(r)
}

/*
GetRangedMarket GetRangedMarket

End-point for getting data about a ranged market

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rangedMarketId Should be filled in with a ranged market id
 @return ApiGetRangedMarketRequest
*/
func (a *RangedMarketApiService) GetRangedMarket(ctx context.Context, rangedMarketId string) ApiGetRangedMarketRequest {
	return ApiGetRangedMarketRequest{
		ApiService: a,
		ctx: ctx,
		rangedMarketId: rangedMarketId,
	}
}

// Execute executes the request
//  @return GetRangedMarketResponse
func (a *RangedMarketApiService) GetRangedMarketExecute(r ApiGetRangedMarketRequest) (*GetRangedMarketResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRangedMarketResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RangedMarketApiService.GetRangedMarket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ranged_markets/{ranged_market_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"ranged_market_id"+"}", url.PathEscape(parameterToString(r.rangedMarketId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
