openapi: 3.0.0
info:
  description: This documentation describes Kalshi's REST API
  title: Kalshi API.
  version: 1.0.0
servers:
- url: https://trading-api.kalshi.com/v1
paths:
  /active_markets:
    get:
      description: "End-point for getting highly active markets on the exchange.\n\
        Currently, gets 3 kinds of activity: Markets opening within the time window\
        \ provided, markets closing within the time\nwindow provided, and markets\
        \ that have had large price movements or large volumes within the time window\
        \ provided."
      operationId: GetActiveMarkets
      parameters:
      - description: "The maximum number of markets returned, this is capped at 20"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: Limit
      - description: The lower bound on the date searched through when looking for
          activity
        explode: true
        in: query
        name: min_date
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: MinDate
      - description: The upper bound on the date searched through when looking for
          activity
        explode: true
        in: query
        name: max_date
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: MaxDate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveMarketsResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetActiveMarkets
      tags:
      - market
  /cached/exchange/status:
    get:
      description: The result is cached and updated every 10 seconds.
      operationId: GetExchangeStatusCached
      responses:
        "200":
          description: ""
          headers:
            exchange_active:
              explode: false
              schema:
                type: boolean
              style: simple
            immediate_funding_active:
              explode: false
              schema:
                type: boolean
              style: simple
            trading_active:
              explode: false
              schema:
                type: boolean
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - cookie: []
      summary: End-point for getting the exchange status.
      tags:
      - exchange
  /cached/markets:
    get:
      description: End-point for listing / discovering markets on Kalshi with data
        that is cached and so slightly lagged.
      operationId: GetMarketsCached
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketsResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketsCached
      tags:
      - market
  /cached/markets/{market_id}:
    get:
      description: |-
        End-point for getting data about a specific market with data that is cached and so slightly lagged.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarketCached
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketCached
      tags:
      - market
  /cached/markets/{market_id}/candlestick:
    get:
      description: "End-point for getting open, high, low, close (OHLC) and other\
        \ data for candlestick plots. See the response body\nfor full information\
        \ on what is returned. Data is cached and so is slightly lagged."
      operationId: GetCandlestickMarketHistoryCached
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      - description: "If provided, restricts history to trades starting from lastSeenTs"
        explode: true
        in: query
        name: last_seen_ts
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: LastSeenTs
      - description: "If provided, this field represents the number of buckets used\
          \ to divide the market\nhistory data. Please provide an integer between\
          \ 1 and 7,200 (inclusive).\nDefaults to 1,400. We aggregate data in the\
          \ buckets."
        explode: true
        in: query
        name: num_buckets
        required: false
        schema:
          format: uint32
          type: integer
        style: form
        x-go-name: NumBuckets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandlestickMarketHistoryResponse'
          description: GetCandlestickMarketHistoryResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetCandlestickMarketHistoryCached
      tags:
      - market
  /cached/markets/{market_id}/order_book:
    get:
      description: |-
        End-point for getting the orderbook for a market with data that is cached and so slightly lagged.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarketOrderBookCached
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketOrderBookResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketOrderBookCached
      tags:
      - market
  /cached/markets/{market_id}/stats_history:
    get:
      description: "End-point for getting the statistics history for a market with\
        \ data that is cached and so slightly lagged.\n\nThe value for the market_id\
        \ path parameter should match the id value of the target market.\nThe last_seen_ts\
        \ parameter is optional, and will restrict statistics to those after provided\
        \ timestamp.\nThe last_seen_ts is inclusive, which means a market history\
        \ point at last_seen_ts will be returned"
      operationId: GetMarketHistoryCached
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      - description: "If provided, restricts history to trades starting from lastSeenTs"
        explode: true
        in: query
        name: last_seen_ts
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: LastSeenTs
      - description: "If provided, this field represents the number of buckets used\
          \ to group the market price\nhistory data. Please provide an integer between\
          \ 1 and 7,200 (inclusive). The higher this value, the\nmore points will\
          \ be returned from this endpoint. Note that the number of points returned\
          \ may not be equal\nto the number of buckets because some buckets may not\
          \ contain any points. Defaults to 1,400. We pick\none representative point\
          \ from each bucket (namely the last point in the bucket)"
        explode: true
        in: query
        name: num_buckets
        required: false
        schema:
          format: uint32
          type: integer
        style: form
        x-go-name: NumBuckets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketHistoryResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketHistoryCached
      tags:
      - market
  /cached/markets_by_ticker/{ticker_name}:
    get:
      description: |-
        End-point for getting data about a specific market with data that is cached and so slightly lagged.

        The value for the ticker_name path parameter should match the ticker_name value of the target market.
      operationId: GetMarketByTickerCached
      parameters:
      - description: Should be filled with the ticker name of the target market
        explode: false
        in: path
        name: ticker_name
        required: true
        schema:
          type: string
        style: simple
        x-go-name: TickerName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketByTickerCached
      tags:
      - market
  /cached/series:
    get:
      description: End-point for getting data about all series. Endpoint is cached
        so it is slightly lagged.
      operationId: GetSeriesListCached
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesListResponse'
          description: GetSeriesListResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetSeriesListCached
  /events/:
    get:
      description: End-point for getting data about all events with data that is cached
        and so slightly lagged.
      operationId: GetEventsCached
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
          description: GetEventsResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetEventsCached
  /events/{ticker}:
    get:
      description: End-point for getting data about an event by its ticker with data
        that is cached and so slightly lagged.
      operationId: GetEventByTickerCached
      parameters:
      - description: Should be the ticker of the event
        explode: false
        in: path
        name: ticker
        required: true
        schema:
          type: string
        style: simple
        x-go-name: Ticker
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventByTickerResponse'
          description: GetEventByTickerResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetEventByTickerCached
      tags:
      - events
  /exchange/status:
    get:
      description: End-point for getting the exchange status
      operationId: GetExchangeStatus
      responses:
        "200":
          description: ""
          headers:
            exchange_active:
              explode: false
              schema:
                type: boolean
              style: simple
            immediate_funding_active:
              explode: false
              schema:
                type: boolean
              style: simple
            trading_active:
              explode: false
              schema:
                type: boolean
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - cookie: []
      tags:
      - exchange
  /log_in:
    post:
      description: End-point to start a rest session with Kalshi.
      operationId: Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        description: Login input data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: ""
          headers:
            Set-Cookie:
              description: Access token is set on a cookie named 'sessions' as well
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: Login
      tags:
      - auth
  /log_out:
    post:
      description: End-point to terminates your session with Kalshi.
      operationId: Logout
      responses:
        "204":
          description: No fields are returned on the response.
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - cookie: []
      summary: Logout
      tags:
      - auth
  /markets:
    get:
      description: End-point for listing / discovering markets on Kalshi.
      operationId: GetMarkets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketsResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarkets
      tags:
      - market
  /markets/{market_id}:
    get:
      description: |-
        End-point for getting data about a specific market.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarket
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarket
      tags:
      - market
  /markets/{market_id}/candlestick:
    get:
      description: "End-point for getting open, high, low, close (OHLC) and other\
        \ data for candlestick plots. See the response body\nfor full information\
        \ on what is returned."
      operationId: GetCandlestickMarketHistory
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      - description: "If provided, restricts history to trades starting from lastSeenTs"
        explode: true
        in: query
        name: last_seen_ts
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: LastSeenTs
      - description: "If provided, this field represents the number of buckets used\
          \ to divide the market\nhistory data. Please provide an integer between\
          \ 1 and 7,200 (inclusive).\nDefaults to 1,400. We aggregate data in the\
          \ buckets."
        explode: true
        in: query
        name: num_buckets
        required: false
        schema:
          format: uint32
          type: integer
        style: form
        x-go-name: NumBuckets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandlestickMarketHistoryResponse'
          description: GetCandlestickMarketHistoryResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetCandlestickMarketHistory
      tags:
      - market
  /markets/{market_id}/order_book:
    get:
      description: |-
        End-point for getting the orderbook for a market.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarketOrderBook
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketOrderBookResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketOrderBook
      tags:
      - market
  /markets/{market_id}/stats_history:
    get:
      description: "End-point for getting the statistics history for a market.\n\n\
        The value for the market_id path parameter should match the id value of the\
        \ target market.\nThe last_seen_ts parameter is optional, and will restrict\
        \ statistics to those after provided timestamp.\nThe last_seen_ts is inclusive,\
        \ which means a market history point at last_seen_ts will be returned"
      operationId: GetMarketHistory
      parameters:
      - description: Should be filled with the id of the target market
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: MarketId
      - description: "If provided, restricts history to trades starting from lastSeenTs"
        explode: true
        in: query
        name: last_seen_ts
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: LastSeenTs
      - description: "If provided, this field represents the number of buckets used\
          \ to group the market price\nhistory data. Please provide an integer between\
          \ 1 and 7,200 (inclusive). The higher this value, the\nmore points will\
          \ be returned from this endpoint. Note that the number of points returned\
          \ may not be equal\nto the number of buckets because some buckets may not\
          \ contain any points. Defaults to 1,400. We pick\none representative point\
          \ from each bucket (namely the last point in the bucket)"
        explode: true
        in: query
        name: num_buckets
        required: false
        schema:
          format: uint32
          type: integer
        style: form
        x-go-name: NumBuckets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketHistoryResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketHistory
      tags:
      - market
  /markets_by_ticker/{ticker_name}:
    get:
      description: |-
        End-point for getting data about a specific market based on its ticker.

        The value for the ticker_name path parameter should match the ticker_name value of the target market.
      operationId: GetMarketByTicker
      parameters:
      - description: Should be filled with the ticker name of the target market
        explode: false
        in: path
        name: ticker_name
        required: true
        schema:
          type: string
        style: simple
        x-go-name: TickerName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetMarketByTicker
      tags:
      - market
  /passwords/reset:
    post:
      description: |-
        End-point to request a password reset email link.

        To be used in case you forget your password.
      operationId: ResetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
        description: Reset password input data
      responses:
        "202":
          description: No fields are returned on the response.
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: ResetPassword
      tags:
      - auth
  /passwords/reset/{code}/confirm:
    put:
      description: |-
        End-point to finish the password reset flow.

        The code param on the path should be filled with the verification code sent by email.
      operationId: ResetPasswordConfirm
      parameters:
      - description: Should be filled with the verification code received on the sign-up
          email.
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
        x-go-name: Code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPasswordResetRequest'
        description: Data required to finish a password reset.
      responses:
        "204":
          description: No fields are returned on the response.
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: ResetPasswordConfirm
      tags:
      - auth
  /ranged_markets/{ranged_market_id}:
    get:
      description: End-point for getting data about a ranged market
      operationId: GetRangedMarket
      parameters:
      - description: Should be filled in with a ranged market id
        explode: false
        in: path
        name: ranged_market_id
        required: true
        schema:
          format: uuid4
          type: string
        style: simple
        x-go-name: RangedMarketId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRangedMarketResponse'
          description: GetRangedMarketResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetRangedMarket
      tags:
      - ranged_market
  /ranged_markets_by_ticker/{ticker}:
    get:
      description: End-point for getting data about a ranged market by its ticker
      operationId: GetRangedMarketByTicker
      parameters:
      - description: Should be the ticker of the ranged market
        explode: false
        in: path
        name: ticker
        required: true
        schema:
          type: string
        style: simple
        x-go-name: Ticker
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRangedMarketByTickerResponse'
          description: GetRangedMarketByTickerResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetRangedMarketByTicker
      tags:
      - ranged_markets
  /series/:
    get:
      description: End-point for getting data about all series
      operationId: GetSeriesList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesListResponse'
          description: GetSeriesListResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetSeriesList
  /series/{series_ticker}:
    get:
      description: End-point for getting data about an event by its ticker
      operationId: GetSeriesByTicker
      parameters:
      - description: Should be the ticker of the series
        explode: false
        in: path
        name: series_ticker
        required: true
        schema:
          type: string
        style: simple
        x-go-name: Ticker
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesByTickerResponse'
          description: GetSeriesByTickerResponse
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
      summary: GetSeriesByTicker
      tags:
      - series
  /trades:
    get:
      description: End-point for getting all trades for all markets.
      operationId: GetTrades
      parameters:
      - description: "Restricts the response to trades during a certain day (give\
          \ trades_date in ET with format: YYYY-MM-DD). Dates returned will be UTC"
        explode: true
        in: query
        name: trades_date
        required: false
        schema:
          type: string
        style: form
        x-go-name: TradesDate
      - description: Parameter to specify the number of results per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: PageSize
      - description: Parameter to specify which page of the results should be retrieved
        explode: true
        in: query
        name: page_number
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-go-name: PageNumber
      - description: Parameter to specify a specific marketId to get trades from
        explode: true
        in: query
        name: market_id
        required: false
        schema:
          type: string
        style: form
        x-go-name: MarketId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesGetResponse'
          description: ""
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
            message:
              explode: false
              schema:
                type: string
              style: simple
            service:
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              explode: false
              schema:
                type: string
              style: simple
            details:
              explode: false
              schema:
                type: string
              style: simple
[...]
